{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
  {% if category %}
    {{category.description|truncatewords:250 }}
  {% else %}
    Welcome S.Cart store where you can buy different items..
  {% endif %}
{% endblock %}
{% block title %}
  {% if category %}
    {{category.name }} - S.Cart Store
  {% else %}
    See our new collections - S.Cart Store
  {% endif %}
{% endblock %}
{% block content %}
  {% if category %}
<div xmlns="http://www.w3.org/1999/html">
    <div class="row my_row_class">
      <div class="mx_auto">
      <a href="{% url 'onlineshopingapp:allProdcat' %}"></a>
      </div>
    </div>
  </div>
  {% endif %}
  <div class="mx_auto">
  {% if category %}
    <img class="my_image" src="{{category.image.url}}" alt="{{category.name}}">
  </div><br>
  <div>
    <h1 class="text-center my_title">{{category.name}}</h1>
    <p class="text-justify">{{category.description}}</p>
  </div>
  {% else %}
  <div>
    <img class="my_image my_image_padding" src="{% static 'img/banner.png' %}"  width="1200px" height="400px"  alt="Our Products">
  </div><br>
  <div>
    <h1 class="text-center my_title">Our products collections</h1>
    <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ornare tempus aliquet. Pellentesque finibus, est et iaculis suscipit, dolor nulla commodo dui, nec ultricies arcu nisl tristique eros. Morbi eros est, pulvinar eget ornare ac, ultrices eget risus. Ut lobortis pellentesque pretium. Praesent sollicitudin vestibulum iaculis. Mauris a finibus orci. Quisque ipsum nunc, efficitur sit amet blandit ut, aliquam quis dui. Phasellus interdum leo eu ipsum malesuada, et interdum diam egestas. Maecenas pretium fermentum tortor ac tincidunt. Curabitur consectetur dolor libero, at aliquam est ornare eleifend. Aliquam at finibus dolor.</p>
  </div>
  {% endif %}
  <div class="container">
    <div class="row mx_auto">
      {% for product in products.object_list %}
      <div class="my_bottom_margin col-9 col-sm-12 col-md-4 col-md-4">
        <div class="card text-center" style="min-width:18rem;">
          <a href="{{product.get_url}}"><img class="card-image-top my_image" src="{{product.image.url}}" width="500px" height="300px" alt="{{product.name}}"></a>
          <div class="card-body">
            <h4>{{product.name}}</h4>
            <p>{{product.price}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <div class="mx_auto">
      {% if products.paginator.num_pages > 1 %}
      <hr>
      <div class="text-center">
        {% for pg in products.paginator.page_range %}
          <a href="?page={{pg}}" class="btn btn-light btn-sm {% if product.number == pg %} active {% endif %}">{{pg}}</a>
        {% endfor %}
      </div>
      {% endif %}
    </div>
    <br>
  </div>
{% endblock %}